
.wrapper_vertical_movies {
  scroll-snap-type: y mandatory;
  position: relative;
  width: 100%;
  // height: 100vh;
  overflow-y: scroll;
  margin-top: 80px;
}

.wrapper_single_movie_view_component {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper_single_movie_view_component::after {
  display: block;
  content: "";
  scroll-snap-align: end;
}

.wrapper_share_drawer_box {
  height: 210px;
  width: 375px;
  background-color: #F0F0F0;
  margin-bottom: 40px;
}

.share_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #F0F0F0;

  border: 0;
}

.share_drawer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #F0F0F0;
  border-top: 1px solid lightgray;

}

.share_icon {
  width: 33.333%;
  text-align: center;
  margin-top: 8px;
}

.copy_link {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: red;
}

.share_text {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.share_footer {
  text-align: center;
  width: 100%;
  height: 50px;
  z-index: 2;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}

.cancel_button {
  background-color: #fff;
  color: #000;
}