// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  background-color: black;
}

.empty-box {
  display: block;
  width: 100%;
  height: 52px;
}

.main {
  background-color: #000;
}

.tool_bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // vertical-align: bottom;
}

.menu_icon {
  margin: 0 0 0 10px;
  width: 25px;
  height: 25px;
}

.MuiTab-wrapped {
  display: flex;
  justify-content: center;
}

.movies {
  scroll-snap-type: y mandatory;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 80px;
}

.movie_list {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.movie_list::after {
  display: block;
  content: "";
  scroll-snap-align: end;
}

.MuiTab-wrapper {
  font-weight: bold;
}

.wrapper_category {
  display: flex;
  justify-content: flex-start;
  height: 22px;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 15px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.wrapper_category::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.category_list {
  width: 60%;
  display: inline-block;
  color: #9B9B9B;
  cursor: pointer;
  list-style: none;
  font-weight: bold;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  padding: 8px 14px;
}

.category_list_selected {
  width: 60%;
  display: inline-block;

  cursor: pointer;
  list-style: none;
  font-weight: bold;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  padding: 8px 14px;
}

.category_list_selected {
  width: 60%;
  display: inline-block;

  cursor: pointer;
  list-style: none;
  font-weight: bold;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  padding: 8px 14px;
}

.wrapper_movie {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 60px;
  z-index: 0;
}

.video_wrapper {
  display: flex;
  justify-content: center;
}

.video_start_icon {
  width: 100%;
  position: absolute;
  top: 17%;
  display: flex;
  justify-content: center;
}

.movie_object {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  z-index: 0;
}

.video_btn {
  width: 60px;
  display:flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-end;
  cursor: pointer;
  z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.share_btn {
  width: 35px;
  display: flex;
  flex-direction: column;
}

.favorites_count {
  color: #F0F0F0;
  text-align: center;
  font-weight: bold;
}

.sidebar {
  display: flex;
  align-items: flex-end;
}

.share_drawer_box {
  height: 210px;
  width: 375px;
  background-color: #F0F0F0;
  margin-bottom: 40px;
}

.share_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #F0F0F0;

  border: 0;
}

.share_drawer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #F0F0F0;
  border-top: 1px solid lightgray;

}

.share_icon {
  width: 33.333%;
  text-align: center;
  margin-top: 8px;
}


.share_text {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.share_footer {
  text-align: center;
  width: 100%;
  height: 50px;
  z-index: 2;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}

.copy_link {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: red;
}

.cancel_button {
  background-color: #fff;
  color: #000;
}

.MuiButton-label {
  font-weight: bold;
}

.select_small_tab {
  color: #F0F0F0 !important;
}

.un_select_small_tab {
  color: #606060 !important;
  font-size: 14px !important;
}

.empty_component {
  width: 370px;
  height: 300px;
}

.wrapper_favorites {
  position: relative;
  width: 35px;
  height: 40px;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  flex-flow: column;
  z-index: 2;
}

.favorites_count {
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  vertical-align: bottom;
}